@import "../../variables";

.form {
  border-radius: 1rem;
  padding: 2rem;
  background: white;
  width: fit-content;
  margin: 0 auto;

}

.form_action {
  width: fit-content;
  margin: 0 auto;
  padding-top: 0.5rem;
}

