.modal {
    position: absolute;
    min-height: 30vh;
    width: 50vh;
    background-color: white;
    z-index: 50;
    border: 2px solid black;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}